body{
    background: rgb(245, 245, 248);
}

h1{
    background: rgb(245, 242, 242);
    text-align: center;
}
img{
    
    text-align: center;
    margin: auto;
}
h6{
    
    
    color: aliceblue;
}

